<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.BookMapper">
	
	
	<select id = "findAllBook" resultType = "com.neusoft.bean.Book">
		SELECT * FROM neuedu.freelistenbook order by booktime desc;
	</select>
	
	<select id = "findPartBook" parameterType = "String" resultType = "com.neusoft.bean.Book">
		SELECT * FROM neuedu.freelistenbook where status=#{condition} order by booktime desc;
	</select>
	
	<select id = "findBookById" parameterType = "int" resultType = "com.neusoft.bean.Book">
		SELECT * FROM neuedu.freelistenbook where id=#{id};
	</select>
</mapper>