<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.EnterpriseMapper">
	
	
	<select id = "findEnterpriseById" parameterType = "int" resultType = "com.neusoft.bean.Enterprise">
		select * from enterprise where qid = #{qid}
	</select>
	<select id = "findAddressById" parameterType = "int"  resultType = "com.neusoft.bean.Address">
	    select * from address where qid = #{qid}
	</select>
	<select id = "findAddressByLid" parameterType = "int"  resultType = "com.neusoft.bean.Address">
	    select * from address where id = #{lid}
	</select>
	<select id = "findTeacherById" parameterType = "int" resultType = "com.neusoft.bean.Teacher">
		select * from teacher where qid = #{qid}
	</select>
	<select id="findMessageById" parameterType = "int" resultType = "com.neusoft.bean.Message">
	    select mid, mtitle, mtime, qid from message where qid = #{qid}
	</select>
	<select id="findMessageImgByMid" parameterType = "int" resultType = "com.neusoft.bean.MessageImg">
	    select mid,imgurl from messageimg where mid = #{mid}
	</select>
	<select id="findMessageLikeByMid" parameterType = "int" resultType = "com.neusoft.bean.MessageLike">
	    select * from messagelike where mid = #{mid}
	</select>
	<select id="findMessageReplyByMid" parameterType = "int" resultType = "com.neusoft.bean.MessageReply">
	    select * from messagereply where mid = #{mid}
	</select>
	<select id="findSwiperById" parameterType = "int" resultType = "com.neusoft.bean.Swiper">
	    select * from swiper where qid = #{qid}
	</select>
    <insert id="addlike" parameterType="com.neusoft.bean.MessageLike">
   	 	insert into messagelike  values(null,#{mid}, #{nickname},#{stime})
     	<selectKey keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
     	</selectKey>
    </insert>
    <insert id="addcomment" parameterType="com.neusoft.bean.MessageReply">
   	 	insert into messagereply  values(null,#{mid},#{content}, #{nickname},#{stime})
     	<selectKey keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
     	</selectKey>
    </insert>
</mapper>
